.fadeWrapper {
  // border: 1px solid steelblue;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  &_Section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
